<div class="header">
  <div class="container">

    <div class="header-nav">

      <div class="logo">
        <h6>ВЕРТОЛЕТНОЕ ТАКСИ</h6>
      </div>

      <div class="nav stroke" id="mainNav">
        <ul class="nav-link">
          <li><a href="">ВЕРТОЛЕТЫ</a></li>
          <li><a href="">ДЕЛОВЫЕ ПОЛЕТЫ</a></li>
          <li><a href="">ОБЗОРНЫЕ ПОЛЕТЫ</a></li>
        </ul>
      </div>

      <div class="order">
        <button class="btn btn-default btn-order">ЗАЯВКА НА ПОЛЕТ</button>
      </div>
    </div>

  </div>
</div>
